 

.sapMShellBrandingBar {
    height: 0px !important;
}

.header {
    display: flex !important;
    height: 50px !important;
    justify-content: space-between !important;
    background-color: rgb(6, 92, 141) !important;
    position: fixed;
    z-index: 999999;
    
}

/* searchInput */

.search{
 padding-right: .5rem !important;

}
.search-icon{
margin-left:.5rem !important;
}

.sapMSFF {
    border-radius: 30px;
    background-color: #fff !important;
    border: none !important;
    
}

.header-search-input {
    margin-top: -10px !important;
}


.content-padding {
    padding-top: 50px;
    
}

.header .sapMText {
    color: #f5f5f5 !important;
    margin-top: 8px !important;
}
.header .sapMText:hover {
    color: #f5f5f5 !important;
    
}

.profil {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    border: 2px solid rgb(245, 245, 245) !important;
    box-shadow: 0 0 0 2.5px rgb(199, 225, 241) !important;
    margin-right: 10px !important;
}

.header-user-image {
    display: flex !important;
    justify-content: flex-end !important;
    padding: 7px !important;
}



.left-content-top {
    background: #eef8f8 !important;
    border-right: 1px solid rgb(216, 216, 216) !important;
    min-height: 20px !important;
}

.user-name {
    padding-left: 5px !important;
    padding-top: 25px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.user-name .sapMText {
    font-size: 18px !important;
    font-weight: 530 !important;
    color: rgb(1, 31, 63) !important;
    font-family: sans-serif !important;
}

.profil-images {
    width: 55% !important;
    height: 50% !important;
    border-radius: 50% !important;
    border: 2px solid rgb(245, 245, 245) !important;
    box-shadow: 0 0 0 2.5px rgb(199, 225, 241) !important;
    margin: 20px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc !important;
    width: 10px !important;
    /*scrollstyle*/
    border-radius: 5px !important;
    border: none !important;
}

::-webkit-scrollbar {
    background-color: #e2e2e2 !important;
    width: 8px !important;
}

.applications-box {
    width: 25% !important;
    text-align: center !important;
    margin-left: 5px !important;
    margin-bottom: 5px !important;
}

.sapMText {
    color: rgb(3, 51, 102) !important;
    cursor: pointer !important;
}

.sapMText:hover {
    color: rgb(53, 115, 180) !important;
}

.sapMTitle {
    color: #033366 !important;
    font-weight: bold !important;
}

.sapUiSizeCompact .sapMBtnIcon {
    color: rgb(1, 31, 63) !important;
}

.notification-content .sapMText {
    color: #011f3f !important;
    font-size: 15px !important;
    font-weight: 530 !important;
}

.notification-content-title {
    padding: 3px !important;
}

.notification-content-title .sapMBtnInner {
    width: 30px !important;
    height: 30px !important;
}

.notification-box {
    background-color: powderblue !important;
    margin-bottom: 5px !important;
}

.toggle-button .sapMBtnInner {
    display: none !important;
    background-color: transparent !important;
    border: none !important;
}

.right-content {
    /* background-color: rgb(223, 219, 226) !important; */
    background: #eef8f8 !important;
}

.sapUiLayoutCSSGridBoxLayoutContainer {
    justify-content: space-around !important;
}

/* grid-style */

.grid .sapMCLI {
    border-radius: 10px !important;
    box-shadow: 1px 1px 5px 1px rgba(202, 194, 194, 0.5) !important;
    margin-top:5px !important;
}

.sapUiIcon::before {
    margin-right: 5px !important;
}

.box-top {
    display: flex !important;
    justify-content: space-between !important;
    min-height: 60px !important;
    padding-left: 15px !important;
    border-bottom: 0.5px solid #e2e2e2 !important;
    padding-top: 5px !important;
    background-color: rgba(232, 239, 253, 0.5) !important;
}

.margin-addicon {
    margin: 5px !important;
    cursor: pointer !important;
}

/* notificationButton visible & hidden */

.visible .sapMBtnInner, .visible .sapMSFF {
    display: block !important;
}

.hidden .sapMBtnInner, .visible .sapMSFF  {
    display: none !important;
}

.notification-toggle-button .sapMBtnInner {
    background: transparent !important;
    border: none !important;
    color: #afa403;
}

.notification-toggle-button .sapMBtnIcon {
    color: #03274e !important;
    font-size: 15px !important;
}