/* clockapp*/

 .page {
    background-image: url("/resources/images/backclock.png");
    background-size: cover;
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 0 !important;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: #fff !important;
}

.left-content {
    width: 50%;
    height: 100%;
    overflow: hidden !important;
}
.carousel-style{
    width: 100% !important;
    height: 520px !important;
    border:0.5px solid #c4c4c4 !important;
}


.buton {
    width: 100px;
}

.like {
    padding: .5rem;
}

.sapUiIcon:hover {
    color: orange !important;
    font-size: 15.5px !important;
}

.like:hover {
    color: orange !important;
}

.clockbox:hover.like {
    display: block !important;
}

.clockbox {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    margin-top: 2rem !important;
}

.icon-box {
    background-color: rgb(243, 243, 243) !important;
    position: fixed !important;
    z-index: 500;
    width: 45%;
    height: 7%;
    padding: .6rem;
}

.sapMBtnInner {
    border: 1px solid #272727 !important;
    width: 150px;
    margin-left:-1.5rem !important;
    font-size: 12px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: #272727;
    font-weight: 500;


}

.sapMBtnInner .icon-box:hover {
    display: block !important;
}

.icon {
    padding: .2rem;
}

.info {
    text-align: center !important;
    width: 200px;
    color: gray !important;
}

.grid-image-style {
    width: 100%;
    height: 50%;
}

.grid-style {
    background-color: white !important;
}

.right-content {
    width: 50%;
    height: 100%;
    background-color: red !important;

}   