/* .container{
    width:100%;
    height: 100%;
}
.content{
    width:100%;
    height:100%;
    background-color: green;

}
.box{
    height:100% !important;
    width:100% !important;
    background-color:white !important;
    margin:.2rem !important;
}

.smallbox1{

    height:100px !important;
    width:100px !important;
    background-color:red !important;
    margin:.2rem !important;
    margin-right:5rem;

}
.smallbox2{

    height:100px !important;
    width:100px !important;
    background-color:red !important;
    margin-left:120px !important;

}

.test {
    background: rgb(255, 255, 255) !important;
    margin-bottom: 10px;
}
.space{
    margin-right:10rem !important;
}  */

.family{
    font-family: "fontawesome" !important;
}

 