/* movie*/

.content {
    background-color: #272727 !important;
    height: 100% !important;
    width: 100% !important;
}

.left-content {
    width: 20% !important;
    background-color: #101115 !important;
}

.genre-box {
    padding: 2rem !important;
}

.text-title {
    color: #fff !important;
    padding: .3rem !important;
    font-size: 15px !important;
}

.text {
    color: rgb(121, 119, 119) !important;
    padding: .3rem !important;
    font-size: 15px !important;
}

.text:hover {
    color: #fff !important;
}

.center-content {
    width: 70% !important;
    background-color: #1a1a1a !important;
}
.sapMCrslNext,.sapMCrslPrev,#__xmlview0--list-slide-number{
    display: none !important;
} 


.top-seemore-style {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.top-rated {
    color: #fff !important;
    font-size: 20px !important;
    font-family: sans-serif !important;
    padding: 1.8rem !important;
    margin-top: 1rem !important;
}

.seemore-style {
    color: rgb(190, 189, 189) !important;
    width: 100px !important;
    padding-top: 3rem !important;
}

.seemore-style:hover {
    color: #fff !important;
}

.grid-style {
    margin-left: 1rem !important;
    margin-right: 0.5rem !important;
    border-bottom: 0.3px solid rgb(88, 88, 88) !important;
}

/* .sapMCrslNext,.sapMCrslPrev,#__xmlview0--list-slide-number{
    display: none !important;
}  */

.movie-style {
   
    width: 80% !important;
    height: 250px !important;
}

/* .movie-style-scroll {
    width: 1rem !important;
    height: 250px !important;
   
}
  */

.slider {
    overflow-x: auto !important;
}
 

/* .slider:hover{
    animation: soldanGelen 25s linear infinite;
}

@keyframes soldanGelen {
    0% {
      left: 0;
    }
    50% {
      left: 100px;
    }
    100% {
      left: 200px;
    }
  }
  */

.sapMImg {
    border-radius: 5px !important;
}

.poster-box {
    margin-left: 2rem !important;
}

.icon-style {
    color: rgb(255, 230, 0) !important;
    padding-right: .5rem !important;
    margin-bottom: 2rem !important;
}

.rating-style {
    color: rgb(173, 173, 173) !important;
}

.fix-content-style {
    width: 900px !important;
}

.sapMSFF {
    border-radius: 30px;
    height: 45px !important;
    width: 70% !important;
    background-color: transparent !important;
    border: 2px solid rgb(55, 58, 65)!important;
    margin-left: 15px !important;
    padding: 0.3rem !important;
}

.sapMSFB {
    padding: 0.3rem !important;
}

.sapUiFixFlexFixed {
    height: 100px !important;
}

.title-style {
    color: #fff !important;
    margin-left: 1rem !important;
    font-size: 1rem !important;
}

.rating-box {
    margin-left: 1rem !important;
}

.right-content {
    width: 20% !important;
    background-color: #212122 !important;
}

.trailer {
    /* padding-left:0.5rem !important; */
    width: 200px !important;
}

.trailer-line {
    color: rgb(231, 228, 228) !important;
    margin-bottom: 1.5rem !important;
    width: 100px !important;
    padding-top: .1rem !important;
    margin-left: 1.5rem !important;
}

.movie-style-right {
    width: 170px !important;
    height: 120px !important;
    border-radius: 5px !important;
    margin-left: 0.8rem !important;
}

.right-content ::-webkit-scrollbar-thumb {
    background-color: #383838 !important;
    /*scrollstyle*/
    height: 250px !important;
    border-radius: 5px !important;
}

.center-content ::-webkit-scrollbar-thumb {
    background-color: #383838 !important;
    /*scrollstyle*/
    height: 250px !important;
    border-radius: 5px !important;
    overflow-x: hidden !important;
}

html.sap-desktop ::-webkit-scrollbar {
    background-color: #1a1a1a !important;
    width: 8px !important;
}

.sapMShellBrandingBar {
    background-color: #272727 !important;
}

.sapMBar {
    border: none !important;
}

.dialog ::-webkit-scrollbar-thumb {
    background-color: #383838 !important;
    /*scrollstyle*/
    border-radius: 5px !important;
    border: none !important;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

.dialog {
    width: 70% !important;
    height: 60% !important;
    animation-name: zoomIn !important;
    animation-duration: 1s !important;
    background: linear-gradient(#000000, rgb(131, 131, 131)) !important;
}

.dialog-content {
    height: 300px !important;
}

.dialog-image {
    margin-top: 1rem !important;
    width: 200px !important;
    height: 300px !important;
}

.dialog-style {
    background: linear-gradient(rgb(68, 68, 68), #000000) !important;
}

.sapMDialog {
    background: linear-gradient(rgb(68, 68, 68), #000000) !important;
}

.aa {
    padding: 0.5rem !important;
}

.dialog-storyline-style {
    color: #fff !important;
}

.dialog-storyline-style {
    height: 150px !important;
    width: 100% !important;
    color: #fff !important;
    font-size: 15px !important;
    padding: 1rem !important;
    letter-spacing: 0.5px !important;
    font-weight: 600 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.dialog-title-style {
    color: rgb(255, 255, 255) !important;
    font-size: 18px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.movie-info-style {
    margin: 0.5rem !important;
}

.sapMPopup-CTX .sapMIBar.sapMHeader-CTX {
    background-color: transparent !important;
    border: none !important;
}

.sapMBtnInner {
    background-color: transparent !important;
    border: none !important;
}