 .flex {
     background: rgb(255, 255, 255) !important;
 }

 .sapMShellBrandingBar {
     height: 0px !important;
 }

 .header {
     background-color: #272727 !important;
     display: flex !important;
     justify-content: space-between !important;
     align-items: center !important;
     border-bottom: 2px solid #e2e2e2 !important;
     position: fixed;
     z-index: 999999;
     padding:.4rem !important;
 }

 .search {
     padding-right: .5rem !important;
     /* background-color:rgb(183, 0, 255) !important; */
 }

 .basket-login {
     /* background-color:rgb(121, 161, 27) !important; */
 }

 .search-icon {
     margin-left: .5rem !important;
 }

 .sapMSFF {
     border-radius: 30px;
 }

 .content-padding {
     padding-top: 50px;
 }

 .logo {
     font-weight: 400 !important;
     font-size: 30px !important;
     color: rgb(247, 247, 247) !important;
     letter-spacing: 0.5px !important;
     font-family: Helvetica, Arial, sans-serif !important;
 }

 .header-left {
     padding-left: 2rem !important;
 }

 .mn-title {
     padding-top: .8rem !important;
     font-size: 17px !important;
     min-width: 55px !important;
     margin-left: 2rem !important;
     color: rgb(235, 235, 235) !important;
     font-family: 'Quicksand', sans-serif !important;
 }

 .header-right {
     display: flex !important;
     justify-content: flex-end !important;
     padding-right: 2rem !important;
 }

 .sapUiIcon {
     letter-spacing: 10px !important;
    
 }

 /* .slider {
     background-color: transparent !important;
     margin-top: -20px !important;
 } */

 .slider-left {
     background: rgb(248, 248, 248) !important;
     margin-top:-3rem !important;
 }

 .image:hover {
     transform: translateX(35px);
     transition: all 3s ease-in-out;
 }

 .image {
     animation-name: spin;
     z-index: 900 !important;
     margin-left: -50px !important;
 }

 .slider-right {
     background: rgb(248, 248, 248) !important;
     z-index: -1;
 }

 .slider-text {
     font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
     font-size: 60px !important;
     font-weight: 600 !important;
     text-align: center !important;
     color: #202020 !important;
 }

 .more-info-tx {
     margin-top: 2rem !important;
     font-size: 20px !important;
 }

 .section-cnt {
     margin-top: 2rem !important;
     padding: 10rem !important;
     background-color:#f3f3f3 !important;
     background-attachment: fixed; 
     background-position: center; 
     background-repeat: no-repeat; 
     z-index: -1;
 }

 .section-cnt-txt {
     font-size: 60px !important;
     font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
     font-weight: 600 !important;
     text-align: center !important;
     
 }
 .section-black{
     background-color:#272727 !important;
     background-attachment: fixed; 
     background-position: center; 
     background-repeat: no-repeat; 
     position: relative !important;

 }

 .section-blck-txt{
     position: absolute !important;
     margin-top:-45rem !important;
     text-align: center !important;
     color:rgb(26, 24, 24) !important;
     font-size: 60px !important;
     font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
     font-weight: 600 !important;
     transform: translateY(-20%) !important;
 }

 .product-title-section {
     padding-top: 5rem !important;
     z-index: 5px !important;
     background-color: rgb(243, 243, 243) !important;
     background-attachment: fixed !important;
 }

 .title {
     font-size: 30px !important;
     font-family: 'Cinzel', serif;
 }

 .footer {
     padding-right: 10rem !important;
     background: #3b3b3b !important;
 }
 .carousel-padding{
     padding-bottom:3rem !important;
 }

 .product-box {
     margin: 5px !important;
     text-align: center !important;
     background-color:#ffffff !important;
 }

 .title-style {
     font-size: 18px !important;
     text-decoration: none !important;
 }
 .desc-style{
     font-size: 14px !important;
     color:rgb(148, 148, 148) !important;
     margin-left:.5rem !important;
 }

 .footer-title {
     font-size: 15px !important;
     font-weight: 600 !important;
     letter-spacing: 0.5px !important;
     color: rgb(180, 180, 180) !important;
     padding: .5rem !important;
 }

 .footer-column {
     padding: 1rem !important;
 }

 .footer-text {
     font-size: 13px !important;
     letter-spacing: 0.3px !important;
     color: rgb(230, 230, 230) !important;
     padding: .5rem !important;
 }

 .social-icon {
     border-radius: 50% !important;
     margin: .2rem !important;
 }

 .filter {
     padding: 1rem !important;
 }

 .description {
     color: rgb(83, 83, 83) !important;
 }

 
.dialog ::-webkit-scrollbar-thumb {
    background-color: #dfdfdf !important;
    /*scrollstyle*/
    border-radius: 5px !important;
    border: none !important;
     
}

html.sap-desktop ::-webkit-scrollbar {
    background-color: #929191 !important;
    width: 8px !important;
 
}

 /*productbuypage*/

 .buy-left-side {}

 .buy-right-side {
     padding: 70px;
 }
.loginStyle{
    color:#fff !important;
}
 .carousel-style {
     background-color: red !important;
     color: #f1eeff;

 }

 .buy-description {
     font-size: 20px !important;
     color: #000 !important;
     font-weight: 600 !important;
 }

 .piece {
     margin-right: 1rem !important;
 }

 .comment {
     margin-top: 0.7rem !important;
     margin-left: 1rem !important;
 }

 .buy-button {
     width: 200px !important;
 }

 .section {
     border-bottom: 1px solid rgb(230, 230, 230) !important;
 }

 .price {
     font-size: 30px !important;
     color: #000 !important;
     font-weight: 700 !important;
     
 }

 .list-price {
     font-size: 18px !important;
     color: #000 !important;
     font-weight: 700 !important;
 }

 .price-section {
     border-bottom: 1px solid rgb(221, 220, 220) !important;
     background-color: rgb(233, 232, 232) !important;
     padding-top: 3rem !important;
     padding-bottom: 3rem !important;
 }

 .soft {
     color: rgb(151, 151, 151) !important;
     font-size: 13px !important;
     font-weight: 100 !important;
 }

 .basket-header-mn-title {
     font-size: 12px !important;
     color:#fff !important;
 }

 .padding {
     padding: .5rem !important;
 }

 .basket {
     position: relative;
 }

 .basket-pieces-none {
     display: none !important;
 }

 .basket-pieces {
     background-color: rgb(253, 253, 253) !important;
     border-radius: 50% !important;
     justify-content: center !important;
     align-items: center !important;
     color: rgb(0, 0, 0) !important;
     font-size: 11px !important;
 }

 .basket-left {
     background-color: rgb(243, 243, 243) !important;
 }

 .basket-product-list {
     margin-left: 1.5rem !important;
     background-color: #ffffff !important;
     box-shadow: 5px 2px 17px rgba(0, 0, 0, .9) !important;
 }

 .Basket-title-style {
     font-size: 23px !important;
     font-weight: bold !important;
 }

 .aa {
     border-bottom: 1px solid rgb(219, 219, 219) !important;
 }

 .basket-right {
     background-color: rgb(243, 243, 243) !important;
     padding: 2.5rem !important;
 }

 .sapMBtnContent .buy-button {
     background-color: #000 !important;
     color: #fff !important;
 }

 .sapMBtnBase .sapMBtn .buy-button {
     background-color: #000 !important;
 }

 .order-summary {
     padding: 2rem !important;
     background-color: #ffffff !important;
     box-shadow: 0 7px 19px rgba(0, 0, 0, .9) !important;
 }

 .color {
     align-items: flex-end !important;
 }

 .order-summary-top {}

 .order-summary-bottom {
     padding-top: 1rem !important;
     padding-bottom: 1rem !important;
 }

 .summary-text-style {
     font-size: 23px !important;
     font-weight: 700 !important;
 }